*{margin: 0; padding: 0; box-sizing: border-box; color: #333333; font-family: "맑은 고딕";list-style: none; text-decoration: none; background-clip: content-box;}
body {width: 100%;}
.wrap {width: 1200px; margin: 0 auto; background-color: aliceblue; height: 700px; }
.contents {height: 200px;}


/* 헤더 */
h1,nav {float: left;}
h1 { height: 100px;}
h1 > a {display: block; height: 100px;}
nav {width: 950px; height: 100px;}
nav > ul {float: right; margin-right: 50px; font-size: 0; height: 100px;}
nav > ul > li {display: inline-block; font-size: 16px; line-height: 100px;}
nav a {display: inline-block; width: 160px; line-height: 40px; text-align: center; background-color: black; color: white;}
/* float 해제 */
header::after{content: ""; display: block; clear: both; }
/* 서브메뉴 */
.sub_menu {display: none;}


/* 이미지 슬라이드 */
.img_slide_view {width: 1200px; height: 300px; overflow: hidden;}
.img_slide {width: 3600px; height: 300px; font-size: 0;}
.slide_list {display: inline-block; width: 1200px; height: 300px; position: relative;}
.img_slide img {width: 1200px; height: 300px;}
.img_slide span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 500px; height: 50px; z-index: 1; background-color: rgba(0, 0, 0, 0.7); font-size: 30px; line-height: 50px; text-align: center; color: white;}

/* 컨텐츠 */
.contents > div{float: left; width: calc(100%/3); height: 200px; padding: 10px }

/* 탭메뉴 */
.tab_menu > ul {width: 100%; height: 100%;}
.tab_menu > ul > li {float: left; width: 100px;}
.tab_menu > ul > li > a {display: block; font-size: 16px; text-align: center; line-height: 30px; background-color: #cccccc; border: 1px solid #dddddd; border-bottom: none;}
.tab_menu > ul > li > div {display: none; width: 380px; height: calc(180px - 31px); border: 1px solid #cccccc;}
.tab_menu > ul > li > div > ul {width: 378px; height: 147px;}

/* 탭메뉴 클릭 */
.tab_menu > ul > li.active > div {display: block;}

/* 공지사항 */
.notice > a {border-right: none;}
.notice > div > ul {padding: 0 10px;}
.notice > div > ul > li:nth-of-type(2n) {background-color: #cccccc;}
.notice > div > ul > li > a{display: inline-block; width: 100%; height: calc(147px/4); line-height: calc(147px/4);}
.notice > div > ul > li > a > span{float: right;}

/* 갤러리 */
.gallery > div {position: relative; left: -100px;}
.gallery > div > ul {display: flex; justify-content: space-evenly; align-items: center;}

/* 배너,숏컷  */
.banner , .qick{position: relative;}
.banner span,.qick span {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: inline-block; text-align: center; width: 200px; height: 30px; background-color: rgba(0, 0, 0, 0.5); color: white; line-height: 30px; }
.banner img,.qick img{display: block; width: 380px; height: 180px; }


/* 푸터 */
footer {background-color: rgba(0, 0, 0, 0.5); height: 100px;}
footer > div {float: left;}
/* 푸터 로고 */
.footer_logo{ height: 100px;}
.footer_logo >h2 {height: 100px;}
.footer_logo > h2 > a {display: inline-block; height: 100px;}
.footer_logo > h2 > a > img {height: 100px; }

/* 푸터 오른쪽 */
.footer_right {width: 950px; height: 100px;}

/* 푸터 메뉴 */
.footer_nav {height: 50px;}
.footer_nav > ul { width: 300px; height:50px; float: right; margin-right: 150px;font-size: 0; }
.footer_nav > ul > li {width: 100px; height: 50px; display: inline-block; font-size: 16px;  }
.footer_nav > ul > li > a {display: block; height: 50px; line-height: 50px; text-align: center; }

/* 퓨터 저작권 */
.copyright {height: 50px;}
.copyright > span {width: 400px; float: right; margin-right: 100px; height: 50px; line-height: 50px; font-size: 16px; text-align: center;}

/* 팝업창 */
.layer {position: absolute; top: 0; left: 0; z-index: 5;}
.layer {display: none;}
.layer.active {display: block;}
.layer_box {position: relative; width: 500px; height: 400px; position: fixed; left: 30%; top: 20%; background-color: #ffffff;}
.layer_box button{width: 60px; height: 30px; border: none; background-color: #cccccc; float: right; margin-right: 30px; }
.layer_title {padding: 20px; line-height: 50px; text-align: center;}
.layer_body { padding: 0 30px 30px 30px; text-align: center; font-size: 16px; line-height: 25px;}

